<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tkmms.com.BookingCourtGrafenstein">

    <application
        android:name=".BCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".FirstLoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".CalendarActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BookCourtActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".AddMemberActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".AdminOverviewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".CloseCourtActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MemberOverviewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MemberDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ChooseCloseActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".AddTrainingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BookingOverviewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BookingReservationActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".AddSingleEventActivity"
            android:screenOrientation="portrait"></activity>
        
        <activity android:name=".ChooseBookingActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>